.backdrop-drawer-modal {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  z-index: 9997;
  opacity: .8;
  left: 0;
  top:0;
  display: none;
}

.wrapper-drawer-modal {
  background: white;
  height: 100%;
  position: fixed;
  z-index: 9998;
  left:0;
  top:0;
  display: none;
  overflow-y: auto;
  margin-top: 0px;
  box-shadow: 0 6px 10px 2px rgba(0,0,0,.2);
}

.drawer-modal-close-icon{
  width: 100%;
  text-align: right;
  display: inline-block;
  z-index: 9999;
}
.drawer-modal-close{
  padding: 4px 15px 4px 4px;
  display: block;
  color: #999;
  font-size: 28px;
  z-index: 10;
  position: relative;
}
.drawer-modal-close:hover,.drawer-modal-close:visited{
  color: #999;
}

.loader-drawer-modal{
  position: absolute;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.drawer-modal-content {
  position: absolute;
	z-index: 1;
	top: 5px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #fff;
	overflow: hidden;
}

.iScrollIndicator{background: rgba(0, 0, 0, 0.3) !important;}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
}